* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    
    background-image:url(./images/Hero-bg.png);
    height: 100dvh;
    background-position: center;
    background-size: cover;
    font-size: 40px;
}
.header-div{
    width: 1140px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.header-div h1{
    color: blue;

}
.heading div button{
    margin-top: 60px;
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-weight: bolder;
}
.div2 h1{
    font-style: 30px;
    color: black;
}
.div2{
    padding: 20px;
    margin: 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div2 h2{
    text-align: center;
}
.section{
     background-color: rgb(240, 244, 244);
}
.common-section{
   width: 1140px;
   padding: 20px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.common-section div h3{
    color: black;
    font-size: 20px;
}
.para{
    color: gray;
    font-size: 20px;
}
.common-section div button{
    height: 50px;
    width: 200px;
    background-color: blue;
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-weight: bolder;
}
.preview{
    display: inline-block;
    text-align: start;
    margin-top: 50px;
   
    
}
.common-section div img{
    margin-top: 15px;
    border-radius:30px 30px 30px 30px ;
    width: 100%;
    height: 300px;
}
/* second div */
.productive{
    padding: 15px;
    margin: 10px auto;
    background-color: #e5e4f0 ;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-div{
    display: flex;
    gap: 80px;
    padding: 5px 10px;
    
}
.rates p{
    font-size: 30px;
    text-align: center;
}
.rates span{
    color:gray;
}
.header{
    width: 100%;
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.box-width{
    width: 1140px;
}
.info{
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 35px;
    align-items: start;
    flex-basis: calc(33.33% - 1140px);
}
.icon{
    color: rgb(201, 201, 20);
}

/*  common profile */
.profile{
   display: flex;
   gap: 30px;
}

.profile div > img{
    width:50px;
    height: 50px;
    border: 1px;
    border-radius: 50%;
}
.data{
    display: flex;
    flex-direction: row;

}
.users{
    width: 1140;
    padding: 50px;
    display: flex;
}
.mid-sec{
    width: 1140px;
    box-sizing: border-box;
    background-color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    width: 750px;
}
.top-of{
    width: 1140px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    gap: 400px;
}
.top-of h1{
    color: black;
    text-align: center;
}
.form{
    text-align: left;
}
#email{
    height: 25px;
    width: 300px;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
#fullname{
    height: 25px;
    width: 300px;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
#msg{
    height: 80px;
    width: 300px;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
.button{
    height: 40px;
    width: 320px;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.nav{;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.nav li > a{
    color: rgb(83, 79, 79);
    text-decoration: none;
}
/* .nav a:hover{
    width: 30px;
    background-color: rgb(45, 88, 229);
    text-decoration: none;
} */
.footer-section{
    background-color: white;
}
.footer h1{
text-align: center;
color: blue;
font-size: bold;
}
.footer p{
    text-align: center;
    color: rgb(83, 79, 79);
}
.footer-section{
    padding:20px 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
